#header {
    height: 82vh;
    width: 100%;
    background-image: url('../images/attractions.jpg');
    /*The above image came from https://www.facebook.com/WailinBrassBand/*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.box{
    align-content: center; 
    width: 100vw; 
    padding: 10px; 
}
