#header {
    height: 82vh;
    width: 100%;
    background-image: url('../images/tcat.jpg');
    /*The above image came from http://www.sustainablecampus.cornell.edu/blogs/news/posts/tcat-service-changes-opportunity-to-provide-feedback*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#map {
	max-width: 100%;
}
