/* image gallery css*/

/* general format of box div containing image gallery*/
.box {
    margin: auto;
    max-width: 60%;
    position: relative;
    overflow: hidden;
}

/* format images in gallery*/
#box > img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* format buttons in gallery*/
#buttons {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 10px;
    bottom: 20px;
    left: 50%;
}

#buttons > span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f5f5f5;
    margin-right: 5px;
}

#buttons .on {
    background: orange;
}

/* format tabs in gallery*/
.tab {
    width: 6%;
    cursor: pointer;
    display: block;
    background: rgba(0,0,0,.3);
    color: #fff;
    z-index: 2;
    position: absolute;
    font-weight: bold;
    text-align: center;
    line-height: 200%;
    text-decoration: none;
    top: 50%;
}

.tab:hover {
    background: rgba(0,0,0,.7);
}

#next_image {
    right: 30px;
}

#prev_image {
    left: 30px;
}

.box:hover .tab {
    display: block;
}