/* image gallery css*/

/* general format of box div containing image gallery*/
.box{
    position: relative;
    overflow: hidden;
    height: 60vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* format images in gallery*/
.list{
    height: 82vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#list > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

/* format buttons in gallery*/
#buttons{
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 10px;
    bottom: 20px;
    left: 50%;
}

#buttons > span{
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f5f5f5;
    margin-right: 5px;
}

#buttons .on{
    background: orange;
}

/* format tabs in gallery*/
.tab{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    background: rgba(0,0,0,.3);
    color: #fff;
    z-index: 2;
    position: absolute;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    top: 175px;
}

.tab:hover{
    background: rgba(0,0,0,.7);
}

#next_image{
    right: 30px;
}

#prev_image{
    left: 30px;
}

.box:hover .tab{
    display: block;
}