/*This CSS page is designed to create different stylings for different browser widths*/

/*Styling if browser less than 520px*/
@media screen and (max-width: 520px) {
    body {
        font-size: 0.6em;
    }

    #navbar span {
        margin-right: 5em;
    }

    .social, #buttons {
        display: none;
    }

    iframe {
    	max-width: 100%;
    	max-height: 200px;
    }

    table, th, td {
    	max-width: 100%;
    }

}