/*This CSS page is designed to style the music page*/

#header {
    height: 82vh;
    width: 100%;
    background-image: url('../images/music/music_wailin_at_applefest.jpg');
    /*The above image came from https://www.facebook.com/WailinBrassBand/*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

table{
    width: 450px;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}

th {
    height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    font-weight: bold;
    font-size: 115%;
    font-family: Merriweather;
}

td {
    height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 105%;
    font-family: Merriweather;
}

iframe {
    display: block;
    width: 560px;
    height: 315px;
    margin: auto;
    z-index: -1;
    position: relative;
}

.performances{
    display: inline-block;
}